body {
  background-color: #e3dfd5;
}
.header {
  width: 100%;
  height: 115px;
  background-color: #305673;
}
/*.footer {
  width: 100%;
  height: 140px;
}*/
h1 {
  text-align: center;
  color: white;
  padding-top: 20px !important;
  font-size: 18pt !important;
}
h2 {
  font-family: helvetica, sans-serif !important;
  position: absolute;
  padding-top: 35px !important;
  font-size: 30pt !important;
  padding-left: 10% !important;
  color: #305673;
}
h3 {
  font-family: helvetica, sans-serif !important;
  position: absolute;
  padding-top: 715px !important;
  font-size: 30pt !important;
  padding-left: 10% !important;
  color: #305673;
}
.menu {
  font-family: helvetica, sans-serif;
  color: white;
  padding-top: 30px;
  position: absolute;
  float: left;
}
.products {
  padding-left: 20px;
  position: absolute;
}
.orders {
  padding-left: 120px;
  position: absolute;
}
.contact {
  padding-left: 210px;
  position: absolute;
}
.bg-blue {
  background-color: #305673;
}
.main-ad {
  background-image: url("../images/ad.png");
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 250px;
}
.search-container {
  width: 100%;
  height: 70px;
  padding-top: 35px;
  text-align: center;
}
.search-container input[type="text"] {
  width: 400px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  box-sizing: border-box;
}
.user {
  float: right;
  padding-right: 40px;
  padding-top: 10px;
}
.cart {
  float: right;
  padding-right: 25px;
  padding-top: 10px;
}
.electronics {
  padding-top: 100px;
  padding-left: 10%;

  height: 280px;
  width: auto;
  position: absolute;
}
.sports {
  float: right;
  padding-top: 100px;
  padding-right: 10%;
}
.auto {
  padding-top: 400px;
  padding-left: 10%;
  position: absolute;
}
.outdoor {
  float: right;
  padding-top: 17px;
  clear: both;
  padding-right: 10%;
}
.deals {
  padding-top: 780px;
  margin: auto;
  width: 80%;
}

.iphone {
  padding-top: 70px;
}
